*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.header{
    text-align: center;
    padding: 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
.colomn{
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}
.colomn img{
    margin-top: 6px;
    width: 100%;
    vertical-align: middle;
}
@media only screen and (max-width:800px){
    .colomn{
        flex: 50%;
        max-width: 50%;
    }
}
@media only screen and (max-width:600px){
    .colomn{
        flex: 100%;
        max-width: 100%;
    }
}